<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | SNMall</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/landingpage.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="d-flex justify-content-center w-100" style="grid-column-gap: 15px;">
                <a class="navbar-brand" asp-area="" asp-controller="Landing" asp-action="Index">
                    <img class="logoimg" src="~/images/shoplogo.jpeg" alt="Shop Logo" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="searchbar-main-container d-flex justify-content-center align-items-center">
                    <div class="searchbar-container d-flex justify-content-center">
                        <i class="fa fa-search searchIcon d-flex justify-content-center align-items-center" aria-hidden="true"></i>
                        <input type="text" placeholder="Search Here..." class="searchField"/>
                    </div>
                </div>


                <div class="d-flex justify-content-center align-items-center ms-lg-5">
                    <div class="d-flex justify-content-center">
                        <i class="fa fa-user userIcon d-flex justify-content-center align-items-center" aria-hidden="true"></i>
                        
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Login
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item active" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Separated link</a></li>
                            </ul>
                        </div>

                    </div>
                </div>


                <div class="d-flex justify-content-center align-items-center">
                    <div class="d-flex justify-content-center">
                        <i class="fa fa-shopping-cart userIcon d-flex justify-content-center align-items-center" aria-hidden="true"></i>

                        <div class="dropdown">
                            <button class="btn" type="button">
                                Cart
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - E_Commerce_Web_Application - <a asp-area="" asp-controller="Landing" asp-action="Index">Home</a>
        </div>
    </footer>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
