################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/E-Commerce_Web_Application
/obj
/wwwroot/lib
/appsettings.json
/E-Commerce_Web_Application.sln
/Properties
/E-Commerce_Web_Application.csproj
/appsettings.Development.json
