* {
    box-sizing: border-box;
    font-family: Roboto, Arial, sans-serif;
}

.navbar {
    background-color: #080d36;
}

.logoimg{
    width: 60px;
    height: 60px;
}

.searchbar-main-container{
    width: 45%;
}

.searchbar-container {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    background-color: #c7c7c7;
}

.searchIcon{
    width: 40px;
    height: 40px;
    font-size: 20px;
}

.searchField{
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    text-transform: uppercase;
}

.userIcon {
    width: 30px;
    height: 40px;
    font-size: 20px;
    color: white;
}

.dropdown button, .dropdown button:hover {
    color: white;
    outline: none;
    padding-left: 2px;
    font-size: 17px;
}

.dropdown button:focus{
    outline: none;
    box-shadow: none;
}

.dropdown-menu{
    margin-top:2.5px;
    width: 260px;
    right: -155px;
}

.dropdown-menu.show {
    right: -155px;
}

.user-login-section{
    border-radius: 8px;
}

.user-login-section:hover {
    background-color: #475af2;
}

.user-dropdown-item-first:hover{
    background: none;
}

.first, .second {
    text-decoration: none;
    font-size: 17px;
}

.first {
    color: black;
}

.second {
    font-weight: bold;
}

